<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onCloseAlert(alert)">{{ alert.msg }}</alert>
</div>
<div class="container">
  <div class="row">
    <div class=" col-lg-12">
      <h3 style="text-align: center"> Lista de Departamentos </h3>

      <div class="container mt-5">
        <div class="row mb-5">
          <div class="col-md-3 offset-5">
            <button class="btn btn-primary" routerLink="/new"> Cadastrar Departamento</button>
          </div>
        </div>
        <form [formGroup]="form" (submit)="getListOfDepartments()">
          <div class="row">
            <div class="col-md-2 offset-1 form-group">
              <label for="code"> Código: </label>
              <input formControlName="code" class="form-control" id="code" type="text" name="code" placeholder="Código"
                     aria-label="code" autocomplete="off">
            </div>

            <div class="col-md-2 form-group">
              <label for="name"> Nome: </label>
              <input formControlName="name" class="form-control" id="name" type="text" name="name" placeholder="Nome"
                     aria-label="name" autocomplete="off">
            </div>

            <div class="col-md-2 form-group">
              <label for="local"> Local: </label>
              <input formControlName="local" class="form-control" id="local" type="text" name="local"
                     placeholder="Local"
                     aria-label="local" autocomplete="off">
            </div>

            <div class="col-md-2 form-group">
              <label for="city"> Cidade: </label>
              <input formControlName="city" class="form-control" id="city" type="text" name="city" placeholder="Cidade"
                     aria-label="city" autocomplete="off">
            </div>

            <div class="col-md-2 mt-3">
              <button type="submit" class="btn btn-primary my-3" id="submit" aria-label="pesquisar">Pesquisar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-lg-12 table-responsive-lg">
      <app-list [listOfDepartments]="listOfDepartments" (updateList)="updateItem($event)">

      </app-list>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <pagination [totalItems]="totalOfElements" [itemsPerPage]="size" (pageChanged)="changeTablePage($event)"
                  class="mt-3"></pagination>
    </div>
    <div class="col-lg-2">
      <select class="form-control mt-3" aria-label="qtd-elements" (change)="changeTableSize($event)">
        <option value="5"> 5</option>
        <option value="10" selected> 10</option>
        <option value="25"> 25</option>
        <option value="50"> 50</option>
      </select>
    </div>
  </div>
</div>
