<div class="container">
  <div class="row">
    <div class=" col-lg-12">
      <h3 style="text-align: center"> {{getId().value !== null ? 'Editar' : 'Cadastrar'}} Departamentos </h3>
      <div class="container mt-5">
        <form [formGroup]="form" (submit)="submitForm()">
          <div class="row">
            <div class="col-md-4 offset-2 form-group">
              <label for="code"> Código: </label>
              <input formControlName="code"
                     [ngClass]="isInvalid(getCode())"
                     class="form-control" id="code" type="text" name="code" placeholder="Código"
                     aria-label="code" required autocomplete="off" aria-describedby="validation-code">
              <div id="validation-code" class="invalid-feedback">
                Campo é obrigatório!
              </div>
            </div>

            <div class="col-md-4 form-group">
              <label for="name"> Nome: </label>
              <input formControlName="name" [ngClass]="isInvalid(getName())"
                     class="form-control" id="name" type="text" name="name" placeholder="Nome"
                     aria-label="name" required autocomplete="off" aria-describedby="validation-name">
              <div id="validation-name" class="invalid-feedback">
                Campo é obrigatório!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-2 form-group">
              <label for="local"> Local: </label>
              <input formControlName="local" [ngClass]="isInvalid(getLocal())"
                     class="form-control" id="local" type="text" name="local"
                     placeholder="Local"
                     aria-label="local" required autocomplete="off" aria-describedby="validation-local">
              <div id="validation-local" class="invalid-feedback">
                Campo é obrigatório!
              </div>
            </div>

            <div class="col-md-4 form-group">
              <label for="city"> Cidade: </label>
              <input formControlName="city" [ngClass]="isInvalid(getCity())"
                     class="form-control" id="city" type="text" name="city" placeholder="Cidade"
                     aria-label="city" required autocomplete="off" aria-describedby="validation-city">
              <div id="validation-city" class="invalid-feedback">
                Campo é obrigatório!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-2 form-group">
              <label for="uf"> Estado: </label>
              <select formControlName="ufs" id="uf" [ngClass]="isInvalid(getUf())" name="uf"
                      aria-label="uf" class="form-control" required aria-describedby="validation-uf">
                <option value="">Selecione uma opção</option>
                <option *ngFor="let item of listUfs" value="{{item.id}}">{{item.ufName}}</option>
              </select>
              <div id="validation-uf" class="invalid-feedback">
                Campo é obrigatório!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 offset-1 form-group">
              <h6 style="text-align: center"> Diretorias: </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3 form-check" *ngFor="let item of listDirectorBoards">
              <label class="form-check-label ml-5">
                <input formControlName="directorBoard" class="form-check-input" type="radio" name="directorBoard"
                       [ngClass]="isInvalid(getDirectorBoard())"
                       aria-describedby="validation-director"
                       id="{{item.enumLabel}}}"
                       value="{{item.enumCode}}">
                {{item.enumLabel}}
              </label>
            </div>
          </div>
          <div class="row mt-4" *ngIf="getDirectorBoard().value === '' && this.submitted">
            <div class="col-md-4 offset-2" style="color: red">
              É obrigatório escolher uma opção!
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-4 offset-2">
              <button class="btn btn-secondary mx-2" routerLink="/home"> Voltar</button>
              <button class="btn btn-primary" type="submit" [disabled]="form.invalid && this.submitted"> Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
