<table class="table table-striped table-bordered table-hover">
  <colgroup>
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 25%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 30%;">
  </colgroup>

  <caption>Lista de departamentos</caption>

  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Código</th>
    <th scope="col">Nome</th>
    <th scope="col">Local</th>
    <th scope="col">Cidade</th>
    <th scope="col">Opções</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listOfDepartments; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{item.code}}</td>
    <td>{{item.name}}</td>
    <td>{{item.local}}</td>
    <td>{{item.city}}</td>
    <td>
      <button type="button" class="btn btn-warning" routerLink="/edit/{{item.id}}">Editar</button>
      <button type="button" class="btn btn-danger ml-2" (click)="deleteDepartment(deleteTemplate, item.id)"> Deletar
      </button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Confirmar a remoção do item?</p>
    <button type="button" class="btn btn-danger mr-1" (click)="confirmDeletion(false)">Não</button>
    <button type="button" class="btn btn-primary ml-1" (click)="confirmDeletion(true)">Sim</button>
  </div>
</ng-template>


